@if (root() && isVisible()) {
    <div class="layout-menuitem-root-text">{{ item().label | translate }}</div>
}

@if ((!hasRouterLink() || hasChildren()) && isVisible()) {
    <a [attr.href]="item().url" (click)="itemClick($event)" [ngClass]="item().class" [attr.target]="item().target" tabindex="0" pRipple>
        <i [ngClass]="item().icon" class="layout-menuitem-icon"></i>
        <span class="layout-menuitem-text">{{ item().label | translate }}</span>
        @if (hasChildren()) {
            <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
        }
    </a>
}

@if (hasRouterLink() && !hasChildren() && isVisible()) {
    <a
        (click)="itemClick($event)"
        [ngClass]="item().class"
        [routerLink]="item().routerLink"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="item().routerLinkActiveOptions || { paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
        [fragment]="item().fragment"
        [queryParamsHandling]="item().queryParamsHandling"
        [preserveFragment]="item().preserveFragment"
        [skipLocationChange]="item().skipLocationChange"
        [replaceUrl]="item().replaceUrl"
        [state]="item().state"
        [queryParams]="item().queryParams"
        [attr.target]="item().target"
        tabindex="0"
        pRipple
    >
        <i [ngClass]="item().icon" class="layout-menuitem-icon"></i>
        <span class="layout-menuitem-text">{{ item().label | translate }}</span>
        @if (hasChildren()) {
            <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
        }
    </a>
}

@if (hasChildren() && isVisible() && (root() || isActive())) {
    <ul [animate.enter]="initialized() ? 'p-submenu-enter' : null" [animate.leave]="'p-submenu-leave'" [class.layout-root-submenulist]="root()">
        @for (child of item().items; track child?.label) {
            <li app-menuitem [item]="child" [parentPath]="fullPath()" [root]="false" [class]="child['badgeClass']"></li>
        }
    </ul>
}